@*@model DataAccess.Entities.Urun*@
@model UrunModel

@{
    ViewData["Title"] = "Ürün Detayı";
}

<h1>@ViewData["Title"]</h1>

@*@await Html.PartialAsync("_Details", Model)*@
<partial name="_Details" model="Model" />

<div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Düzenle</a>@:&nbsp;|&nbsp;
    }
    <a asp-action="Index">Ürün Listesi</a>
</div>
