@model UrunlerRaporIndexViewModel

@{
    ViewData["Title"] = "Ürünler Raporu";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-2">

        @*@await Component.InvokeAsync("Kategoriler")*@
        @await Component.InvokeAsync("Kategoriler", Model.UrunlerFiltre.KategoriId)

    </div>
    <div class="col-10">
        <h5>Ürünler</h5>
        <hr />
        <form asp-action="Index" autocomplete="off" id="form" data-ajax="true" data-ajax-method="post" data-ajax-mode="replacewith" data-ajax-update="#urunlerrapor">
            @* 
                data-ajax-mode:
                replacewith: aşağıdaki urunlerrapor div'inin içerisini güncelleyecek. 
                replace: aşağıdaki urunlerrapor div'ini komple sunucudan dönen veriyle değiştirecek.
                before: aşağıdaki urunlerrapor div'inin üstüne sunucudan dönen veriyi ekleyecek.
                after: aşağıdaki urunlerrapor div'inin altına sunucudan dönen veriyi ekleyecek.
            *@
            
            @Html.AntiForgeryToken()
            
            @* 1. yöntem: *@
            @*<div class="row">
                <div class="col-2">
                <label asp-for="UrunlerFiltre.KategoriId"></label>
                </div>
                <div class="col-4">
                <select asp-for="UrunlerFiltre.KategoriId" asp-items="Model.KategorilerSelectList" class="form-control">
                <option value="">-- Tüm Kategoriler --</option>
                </select>
                </div>
                </div>*@
            @* 2. yöntem: *@
            <input type="hidden" asp-for="UrunlerFiltre.KategoriId"/>@* ViewComponent kullandığımız için KategoriId'yi gizleyip saklıyoruz *@

            <div class="row">
                <div class="col-2">
                    <label asp-for="UrunlerFiltre.UrunAdi"></label>
                </div>
                <div class="col-4">
                    <input asp-for="UrunlerFiltre.UrunAdi" class="form-control"/>
                </div>
                <div class="col-2">
                    <label asp-for="UrunlerFiltre.BirimFiyatiBaslangic"></label>
                </div>
                <div class="col-4">
                    <div class="input-group">
                        <input asp-for="UrunlerFiltre.BirimFiyatiBaslangic" class="form-control"/>
                        <span class="input-group-text">-</span>
                        <input asp-for="UrunlerFiltre.BirimFiyatiBitis" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 30px;">
                <div class="col-2">
                    <label asp-for="UrunlerFiltre.StokMiktariBaslangic"></label>
                </div>
                <div class="col-4">
                    <div class="input-group">
                        <input asp-for="UrunlerFiltre.StokMiktariBaslangic" class="form-control"/>
                        <span class="input-group-text">-</span>
                        <input asp-for="UrunlerFiltre.StokMiktariBitis" class="form-control"/>
                    </div>
                </div>
                <div class="col-2">
                    <label asp-for="UrunlerFiltre.SonKullanmaTarihiBaslangic"></label>
                </div>
                <div class="col-4">
                    <div class="input-group">
                        <input asp-for="UrunlerFiltre.SonKullanmaTarihiBaslangic" class="form-control tarih"/>
                        <span class="input-group-text">-</span>
                        <input asp-for="UrunlerFiltre.SonKullanmaTarihiBitis" class="form-control tarih"/>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 30px;">
                <div class="col-2">
                    <label asp-for="UrunlerFiltre.MagazaIdleri"></label>
                </div>
                <div class="col-6">
                    <select multiple asp-for="UrunlerFiltre.MagazaIdleri" asp-items="Model.MagazalarMultiSelectList" class="form-control magazalar"></select>
                </div>
            </div>
            <div class="row" style="padding-top: 30px;">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" id="ara"><i class="fas fa-search"></i> Ara</button>
                    &nbsp;&nbsp;&nbsp;
                    <a asp-action="Index" class="btn btn-info"><i class="fas fa-sync"></i> Temizle</a>
                </div>
            </div>
            <hr/>

            <div id="urunlerrapor">
                <partial name="_UrunlerRapor" model="Model"/>
            </div>

        </form>
    </div>
</div>

@section Scripts
{
    <script src="/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

    @*https://uxsolutions.github.io/bootstrap-datepicker*@
    <link rel="stylesheet" href="/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css"/>
    <script src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.tr.min.js"></script>
    
    @* https://select2.org/ *@
    <link rel="stylesheet" href="/lib/select2/css/select2.min.css" />
    <script src="/lib/select2/js/select2.min.js"></script>
    <script src="/lib/select2/js/i18n/tr.min.js"></script>

    <script>
        $(function() {
            $('.tarih').datepicker({
                todayBtn: "linked",
                language: "tr",
                orientation: "bottom auto",
                autoclose: true,
                todayHighlight: true
            });

            // Sayfalama
            // Ara butonuna tıklandığında kayıtlar 1. sayfa üzerinden gelmeli.
            // Sayfa numarası değiştiğinde form tekrar submit edilerek o sayfadaki kayıtlar getirilmeli.
            $("#ara").click(function() {
                $("#sayfa").val("1");
            });

            // Sayfalama
            //$("#sayfa").change(function() { // AJAX kullanmasaydık sayfa change event'ini bu şekilde tanımlayabilirdik
            //    $("#form").submit();
            //});
            $(document).on("change", "#sayfa", function() { // AJAX kullandığımız için sayfa change event'i bu şekilde tanımlanmalıdır
                $("#form").submit();
            });

            // Sıralama 1
            $(document).on("change", ".sira", function() {
                $("#form").submit();
            });

            // Sıralama 2
            $(document).on("click", ".orderbyexpressionlink", function (event) { // AJAX kullandığımız için orderbyexpressionlink click event'i bu şekilde tanımlanmalıdır.
                event.preventDefault();
                $("#orderbyexpressionselect").val($(this).text()); // tıklanan link'in yazısını alıp select'in value'sunu set ediyoruz.
                var ascending = $("#orderbydirectionselect").val(); // asc için True, desc için False
                if (ascending === "True") { // link'e tıkladıkça artanı azalan, azalanı artan olarak değiştiriyoruz.
                    ascending = "False";
                } else {
                    ascending = "True";
                }
                $("#orderbydirectionselect").val(ascending); // yukarıda güncellediğimiz direction'ı select'in value'su olarak set ediyoruz.
                $("#form").submit();
            });

            $(".magazalar").select2();

        });
    </script>
}
